name: Audit

on:
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  audit:
    name: Security audit
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: mozilla-actions/sccache-action@bafd42bd91680affe190f697cac6ef3ad958ecba

      - name: Install cargo audit
        run: cargo install cargo-audit

      - run: cargo audit -f atlas/Cargo.lock -D warnings -D unmaintained -D unsound -D yanked
      - run: cargo audit -f remote-client/Cargo.lock -D warnings -D unmaintained -D unsound -D yanked
      - run: cargo audit -f switchboard/Cargo.lock -D warnings -D unmaintained -D unsound -D yanked
