name: Publish project artifacts

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    env:
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    strategy:
      matrix:
        crate: [remote-client, switchboard, atlas]
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: mozilla-actions/sccache-action@bafd42bd91680affe190f697cac6ef3ad958ecba

      - name: cargo login
        run: echo ${{ secrets.CRATES_TOKEN }} | cargo login

      - name: cargo publish
        run: cargo publish --workspace --keep-going
        working-directory: ${{ matrix.crate }}
